<main>
  
  <app-donkoun-banner></app-donkoun-banner>
  <app-how-its-work></app-how-its-work>
  <!-- <section class="parcels">
    <div class="section-header">
      <h2>Recent Parcels</h2>
      <p>Track the latest packages being transported through our global network</p>
    </div>
    <div class="parcels-grid">
      <app-parcels
        *ngFor="let trip of trips"
        [trip]="trip"
        class="mb-4"
      ></app-parcels>
    </div>
  </section> -->
</main>
<app-call-to-action></app-call-to-action> 